.git
.gitignore
.local

node_modules
apps/**/node_modules

.next
apps/**/.next
dist
apps/**/dist
build
apps/**/build
out
apps/**/out
coverage
apps/**/coverage

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log

.env
.env.*
.env*
!.env.docker.example

.agents
apps/**/.agents
.playwright-mcp
apps/**/.playwright-mcp

apps/petpage/public/app-react
